.botao-primario{
    display: inline-block;
    font-family: $font-sans;
    padding: 5px 40px;
    background: $segunda-cor;
    color: #000000;
    &:hover{
        color:#ffffff;
        text-decoration: none;
        background: lighten($segunda-cor, 10%);
    }
}

.botao-secundario{
    display: inline-block;
    font-family: $font-sans;
    padding: 5px 40px;
    background: $terceira-cor;
    color: #000000;
    &:hover{
        color:#ffffff;
        text-decoration: none;
        background: lighten($terceira-cor, 10%);
    }
}