#menuTopo{
    
        ul{
            text-align: center;
           
            li{
                display: inline-block;

                a{
                    font-weight: bold;
                    font-family: $font-sans;
                    padding: 5px 40px;
                    background: $primeira-cor;
                    color: #000000;
                    &:hover{
                        background: lighten($primeira-cor, 10%);
                        text-decoration: none;
                      
                    }
                }
            }
        }
    
}